<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KcptunGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KcptunGUI.Properties.Settings>
            <setting name="setKcptunConfig_SystemBit" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setKcptunConfig_Compress" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="setKcptunConfig_Server" serializeAs="String">
                <value>server.kcptun.com:29900</value>
            </setting>
            <setting name="setKcptunConfig_LocalPort" serializeAs="String">
                <value>12948</value>
            </setting>
            <setting name="setKcptunConfig_Mode" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="setKcptunConfig_Connects" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setKcptunConfig_DSCP" serializeAs="String">
                <value />
            </setting>
            <setting name="setKcptunConfig_Key" serializeAs="String">
                <value>www.ragnaroks.org</value>
            </setting>
            <setting name="setKcptunConfig_Crypt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="setKcptunConfig_MTU" serializeAs="String">
                <value>0</value>
            </setting>
        </KcptunGUI.Properties.Settings>
    </userSettings>
</configuration>